*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{

    background-color: blue;
}

.slider-box{
    width: 1280px;
    height: 630px;
    margin: 10px auto 0;
    overflow: hidden;

}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 30s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.texto{
    position: absolute;
    text-align: left;
    left: 25px;
    padding: 10px 10px;
    width: auto;
    top: 450px;
    color: white;
    background-color: black;
    /* border-radius: 50px; */
    /* border: 10px solid green; */
}

/* .texto h2{
    font-size: 40px;
    margin-bottom: 30px;
 } */

.Comprar{

    position: absolute;
    justify-content: center;
    text-align: center;
    left: 25px;
    padding: 10px 10px;
    width: auto;
    top: 550px;
    color: white;
    background-color: black;
    /* border: 5px solid red; */
    border-radius: 50px;
    cursor: pointer;
    font-size: 12px;

}

.Comprar:hover {
    background-color: gray;
    opacity: 1;
}

.slider-box img{
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300;}
}

/* 
.Filters-Ge{

    position: relative;
    bottom: -20px;
    left: 10px;
    float: left;
    max-width: 170px;
    width: 100%;
    margin: 80px auto 30px;
    z-index: 1;

}

.Filters-G{

    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
}

.Filters-G .Filters-Gen{
    font-size: 17px;
    font-weight: 400;
    color: #333;

}

.Filters-G .Icon-Gen{

    display: flex;
    height: 21px;
    width: 21px;
    color: white;
    font-size: 14px;
    border-radius: 50%;
    background: black;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.Filters-G.open .Icon-Gen{
    transform: rotate(-180deg);
}

.list1{

    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;

}

.Filters-G.open ~ .list1{
    
    display: block;

}

.list1 .item1{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
   
}

.list1 .item1:hover{
    background-color: #e7edfe;

}

.item1 .item-text1{
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.item1 .checkbox1{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid black;
    transition: all 0.3s ease-in-out;
}

.item1.checked .checkbox1{
    background-color: black;
    border-color: black;
}

.checkbox1 .check-icon{

    color: white;
    font-size: 11px;
    transform: scale(0); 
}

.item1.checked .check-icon{
    transform: scale(1);
}


.Filters-Ch{

    position: relative;
    bottom: -400px;
    left: -160px;
    float: left;
    max-width: 170px;
    width: 100%;
    margin: 80px auto 30px;
    z-index: 1;

}

.Filters-Chi{

    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
}

.Filters-Chi .Filters-Child{
    font-size: 17px;
    font-weight: 400;
    color: #333;

}

.Filters-Chi .Icon-Child{

    display: flex;
    height: 21px;
    width: 21px;
    color: white;
    font-size: 14px;
    border-radius: 50%;
    background: black;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.Filters-Chi.open .Icon-Child{
    transform: rotate(-180deg);
}

.list2{

    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;

}

.Filters-Chi.open ~ .list2{
    
    display: block;

}

.list2 .item2{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list2 .item2:hover{
    background-color: #e7edfe;

}

.item2 .item-text2{
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.item2 .checkbox2{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid black;
    transition: all 0.3s ease-in-out;
}

.item2.checked .checkbox2{
    background-color: black;
    border-color: black;
}

.checkbox2 .check-icon{

    color: white;
    font-size: 11px;
    transform: scale(0); 

}

.item2.checked .check-icon{
    transform: scale(1);
}
 */


/* .Filters-Spt{
    position: relative;
    bottom: -40px;
    float: left;
    max-width: 170px;
    width: 100%;
    margin: 80px auto 30px;
    z-index: 1;
}
/* 
.Filters-Ch{

    position: relative;
    max-width: 170px;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

.Filters-Pr{

    position: relative;
    max-width: 170px;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

.Filters-Sp{

    position: relative;
    max-width: 170px;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

.Filters-Co{

    position: relative;
    max-width: 170px;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: black;
    background-color: white;
}