* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    /* background: url('/Proyecto/WLP/ropa.jpg') no-repeat;
    background-size: cover;
    background-position: center; */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background-color: black;
    /* background: transparent; Color del fondo*/
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}

.menu a {

    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 400;
    margin-left: 40px;
}

.menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px; 
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right; /*lo hace de derecha*/
    transform: scaleX(0);
    transition: transform .5s;
}

.menu a:hover::after{
    transform: scaleX(1);
    transform-origin: left; /*lo hace de izquierda*/

}

.menu .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.menu .btnLogin-popup:hover{

    background: white;
    color: #162938;

}

.wrapper{

    
    position: absolute;
    width: 400px;
    height: 440px;
    background: white;
    border: 2px solid black;
    border-radius: 20px;
    backdrop-filter: blur(40px); /*Para que se vea desenfocado*/
    box-shadow: 0 0 30px rgba(0, 0, 0, .5); /*Sombra del box*/
    display: flex;
    justify-content: center; /*Para centrar el contenido*/
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, heigth .2s ease;
    z-index: 99;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active {  /*Para registrarse*/
    height: 520px;
}

.wrapper .form-box { /*Para los simbolos*/
    width: 100%;
    padding: 40px;
    color: black;
}

.wrapper .form-box.login{
   transition: transform .18s ease;
   transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);

}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}


.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: black;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center; /*Para centrar cualquier elemento*/
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 { /*Para el texto del login*/
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {  /*Lineas del login*/
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;   
}

/*Label email y pass*/
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black; /*Color de letras email*/
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

/*Input email y pass*/

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;  /*Color de ingreso*/
    font-weight: 500; /*Tamaño de letra*/
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px; /*Centra los iconos a la altura del texto */
}

.remember-forgot {
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between ;
}

/*Checkbox*/
.remember-forgot label input{
    accent-color: black;
    margin-right: 3px;
}

/*Caracteristicas del Checkbox*/
.remember-forgot a{
    color: black; 
    text-decoration: none;
}

/*Debajo del Checkbox*/
.remember-forgot a:hover{ 
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;   
}

.login-register{
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}





/* Hola */
div, fieldset{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

.cajabuscar {  /*Nombre de la clase */
    /*Parametros de la caja */
     position: absolute;
     top: 80px;
     right: 50px;
     width: 100%;
     max-width: 300px;
     margin-bottom: 25px;
     margin-top: 29px;
     margin-left: auto;
     margin-right: auto;
     display: inline-block;
     text-align: right;
     border-radius: 20px;
 }

 #buscarform {
     padding: 0;
     float: left;
     clear: both;
     width: 100%;
     position: relative;
     
 }
 #buscarform fieldset { float: left }

/*#buscarform .search {  Parametros del espacio donde esta el boton buscar  */
     /* font-size: 40px;
     top: 0px;
     position: absolute;
     right: 0;
     padding: 9px;
     height: 22px;
     width: 24px;
     background-color: red;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     border: 1px solid black;
 } */
 #buscarform fieldset { width: 100% }

  #s {  /* Caja de buscar */
     width: 100%;
     float: left;
     padding: 8px 0;
     text-indent: 10px;
     color: black;
     border: 1px solid black; 
     box-sizing: border-box;
     background-color: transparent;
     border-radius: 20px;
     height: 35px;
     text-align: left;
 }

 .button{    /*boton */
     top: 0;
     padding: 1px 1px;
     float: right;
     right: 0;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     width: 40px;
     height: 35px;
     cursor: pointer;
     color: black;
     transition: all 0.25s linear;
     background-color: transparent;
     border: 1px solid black;
     z-index: 10;
     position: absolute;
     vertical-align: top;
 }

.icon-search{
    position: absolute;
    top: 10px;
    float: right;
    right: 10px;

}

/* Parte buena */

/* .Search{
    position: absolute;
    top: 100px;
    right: 20px;
}

.Search input{
    position: absolute;
    right: 70px;
    padding: 0 6px;
    width: 200px;
    height: 30px;
    font-size: 14px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}

.Search label{
    position: relative;
    top: 5px;
    right: 120px;
    text-align: center;
    font-size: 1em;
    color: black;
    
}

.Search .icon-search{
    position: relative;
    float: right;
    right: 40px;
    height: 30px;
    font-size: 20px;
    padding: 5px 4px;
    z-index: 1;
    color: black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;


    
}

.Search .icon-search:hover{
    background-color: black;
    color: white;
} */

.Home{
    
    position: absolute;
    top: 170px;
    float: left;
    left: 500px;
    height: auto;
    font-size: 20px;
    /* background-color: rgb(201, 201, 201); */
    color: black;
    width: auto;
    text-align: center;

}


.image{
    position: absolute;
    top: 230px;
    float: left;
    left: 0;
    display: flex;
    width: 100%;
    height: 500px;
}

.image img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    /* filter: blur(0.6px); */
    transition: .4s ease;
    border: 5px solid white;
}

.image img:hover{
    cursor: pointer;
    width: 100px;
    opacity: 1;
    filter: contrast(120%);
}


.Tendence{
    position: absolute;
    top: 750px;
    width: auto;
    float: left;
    left: 40%;
    color: black;
    text-align: center;
    font-size: 40px;
    background-color: transparent;
    padding: 10px;
    /* border: 1px solid black; */
    /* box-shadow: 60px -16px black; */

   
}


/* Slider cambiante */

.slider-box{

    position: absolute;
    float: left;
    left: 45px;
    top: 850px;
    width: 1360px;
    height: 600px;
    overflow: hidden;
}


.slider-box ul{
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 50s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
    object-fit: contain;
}

.texto{
    position: absolute;
    text-align: left;
    left: 25px;
    padding: 10px 10px;
    width: auto;
    top: 400px;
    color: white;
    background-color: rgba(37, 36, 36, 0.5);
   
}

.Comprar{

    position: absolute;
    justify-content: center;
    text-align: center;
    left: 25px;
    padding: 10px 10px;
    width: auto;
    top: 500px;
    color: white;
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
    font-size: 12px;

}

.Comprar:hover {
    background-color: gray;
    opacity: 1;
}
.slider-box img{
    object-fit: cover;
    height: 70%;
    width: 100%;
    
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    21% {margin-left: -100%;}
    40% {margin-left: -100%;}

    41% {margin-left: -200%;}
    60% {margin-left: -200%;}

    61% {margin-left: -300%;}
    80% {margin-left: -300%;}

    81% {margin-left: -400%;}
    100% {margin-left: -400%;}
}


.Text-top{
    position: absolute;
    top: 1550px;
    width: 100%;
    height: 15%;
    float: left;
    left: 0;
    color: white;
    text-align: center;
    font-size: 40px;
    background-color: black;
    padding: 20px ;
}


.images1{

    position: relative;
    top: 1000px;
    float: left;
    left: 0;
    width: 723.43px;
    height: 502.38px;

}

.images1 img{
    
    width: 100%;
    height: 100%;
}

.images1 h2{

    position: absolute;
    float: left;
    left: 10px;
    bottom: 100px;
    padding: 10px 10px;
    width: auto;
    color: white;
    background-color: rgba(37, 36, 36, 0.5);
    z-index: 99;
    font-size: 20px;
}


.images1 p{
    position: absolute;
    float: left;
    left: 10px;
    bottom: 50px;
    border-radius: 50px;
    padding: 10px 10px;
    width: 12%;
    color: black;
    background-color: white;
    z-index: 99;
    cursor: pointer;
}

.images1 p:hover{
    background-color: black;
    color: white;

}

.images2{

    position: relative;
    top: 1000px;
    float: right;
    right: 0;
    width: 723.43px;
    height: 502.38px;

}

.images2 img{
    
    width: 100%;
    height: 100%;
}

.images2 h2{

    position: absolute;
    float: left;
    left: 10px;
    bottom: 100px;
    padding: 10px 10px;
    width: auto;
    color: white;
    background-color: rgba(37, 36, 36, 0.5);
    z-index: 99;
    font-size: 20px;
}

.images2 p{

    position: absolute;
    float: left;
    left: 10px;
    bottom: 50px;
    border-radius: 50px;
    padding: 10px 10px;
    width: 12%;
    color: black;
    background-color: white;
    z-index: 99;
    cursor: pointer;

}

.images2 p:hover{
    background-color: black;
    color: white;

}

.images3{

    position: relative;
    top: 1000px;
    float: right;
    right: 0;
    width: 723.43px;
    height: 502.38px;

}

.images3 img{
    
    width: 100%;
    height: 100%;
}

.images3 h2{

    position: absolute;
    float: left;
    left: 10px;
    bottom: 100px;
    padding: 10px 10px;
    width: auto;
    color: white;
    background-color: rgba(37, 36, 36, 0.5);
    z-index: 99;
    font-size: 20px;
}

.images3 p{

    position: absolute;
    float: left;
    left: 10px;
    bottom: 50px;
    border-radius: 50px;
    padding: 10px 10px;
    width: 12%;
    color: black;
    background-color: white;
    z-index: 99;
    cursor: pointer;

}

.images3 p:hover{
    background-color: black;
    color: white;
}

.images4{

    position: relative;
    top: 1000px;
    float: right;
    right: 0;
    width: 723.43px;
    height: 502.38px;

}

.images4 img{
    
    width: 100%;
    height: 100%;
}

.images4 h2{

    position: absolute;
    float: left;
    left: 10px;
    bottom: 100px;
    padding: 10px 10px;
    width: auto;
    height: auto;
    color: white;
    background-color: rgba(37, 36, 36, 0.5);
    z-index: 99;
    font-size: 20px;
}

.images4 p{

    position: absolute;
    float: left;
    left: 10px;
    bottom: 50px;
    border-radius: 50px;
    padding: 10px 10px;
    width: 12%;
    color: black;
    background-color: white;
    z-index: 99;
    cursor: pointer;

}

.images4 p:hover{
    background-color: black;
    color: white;
}




/* Style the footer */
 
/* .Who-are{

    position: absolute;
    top: 2000px;
    padding: 10px;
    width: 100%;
    float: left;
    left: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
} */

.About{
    position: absolute;
    top: 3000px;
    padding: 10px;
    width: 100%;
    float: left;
    left: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

