body {
    text-align: center;
 }

body, div, fieldset{
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
 }


 .cajabuscar {  /*Nombre de la clase */
    /*Parametros de la caja */
    position: relative;
    right: 0;
     width: 100%;
     max-width: 300px;
     margin-bottom: 25px;
     margin-top: 29px;
     margin-left: auto;
     margin-right: auto;
     display: inline-block;
     /* text-align: right; */
     border-radius: 20px;
 }

 #buscarform {
     padding: 0;
     float: left;
     clear: both;
     width: 100%;
     position: relative;
     
 }
 #buscarform fieldset { float: left }

 #buscarform .search {  /*Parametros del espacio donde esta el boton buscar  */
     font-size: 40px;
     top: 0px;
     position: absolute;
     right: 0;
     padding: 9px;
     height: 22px;
     width: 24px;
     background-color: red;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     border: 1px solid black;
 }
 #buscarform fieldset { width: 100% }

  #s {  /* Caja de buscar */
     width: 100%;
     background-color: white;
     float: left;
     padding: 8px 0;
     text-indent: 10px;
     color: black;
     border: 1px solid black; 
     box-sizing: border-box;
     border-radius: 20px;
     height: 42px;
     text-align: left;
 }

 .button{    /*boton */
     top: 0;
     padding: 1px 1px;
     float: right;
     right: 0;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     width: 44px;
     height: 42px;
     cursor: pointer;
     color: black;
     transition: all 0.25s linear;
     background-color: transparent;
     border: 1px solid black;
     z-index: 10;
     position: absolute;
     vertical-align: top;
 }
